@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbarHide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarHide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.Accodionbtn {
    padding: 0;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.maploader {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

}